# ==============================
# Python Environment and Testing
# ==============================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
venv/
env/
.venv/
.env

# ==============================
# ROS 2 and C++ Compilation
# ==============================
build/
install/
log/
*.so
*.o
*.a

# ==============================
# IDE and Operative System
# ==============================
.vscode/
.idea/
*.swp
*~
.DS_Store

# ==============================
# AI Local Models
# ==============================
**/local_models/
*.safetensors
*.bin

# ==============================
# Qdrant Storage
# ==============================
.devcontainer/data/

# ==============================
# Extra
# ==============================
src/api/memory/*
